<div class="header">
  <h2>{{ 'header.title' | translate | uppercase }}</h2>
  <h4>{{ 'header.subtitle' | translate }}</h4>
</div>

<form [formGroup]="form" (ngSubmit)="submit()" (keydown.enter)="submit()">
  <p>{{ 'form.denomination' | translate }}</p>

  <mat-form-field>
    <mat-label>{{ 'form.name.label' | translate }}</mat-label>
    <input [formControl]="name" type="text" matInput [placeholder]="'form.name.placeholder' | translate" required>
    <mat-error *ngIf="name.invalid">{{ 'form.name.error' }}</mat-error>
  </mat-form-field>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1rem" fxLayoutGap.lt-sm="0">
    <mat-form-field (click)="picker.open()">
      <mat-label>{{ 'form.birthDate.label' | translate }}</mat-label>
      <input [formControl]="birthDate" matInput [matDatepicker]="picker" required type="text">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker color="primary" startView="multi-year" [startAt]="startDate"></mat-datepicker>
      <mat-error *ngIf="birthDate.invalid">{{ 'form.birthDate.error' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'form.birthCity.label' | translate }}</mat-label>
      <input [formControl]="birthCity" type="text" matInput [placeholder]="'form.birthCity.placeholder' | translate" required>
      <mat-error *ngIf="birthCity.invalid">{{ 'form.birthCity.error' | translate }}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1rem" fxLayoutGap.lt-sm="0">
    <mat-form-field>
      <mat-label>{{ 'form.address.label' | translate }}</mat-label>
      <input [formControl]="address" type="text" matInput [placeholder]="'form.address.placeholder' | translate" required>
      <mat-error *ngIf="address.invalid">{{ 'form.address.error' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'form.city.label' | translate }}</mat-label>
      <input [formControl]="city" type="text" matInput [placeholder]="'form.city.placeholder' | translate" required>
      <mat-error *ngIf="city.invalid">{{ 'form.city.error' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'form.zipCode.label' | translate }}</mat-label>
      <input [formControl]="zipCode" type="text" matInput [placeholder]="'form.zipCode.placeholder' | translate" required minlength="5" maxlength="5">
      <mat-error *ngIf="zipCode.invalid">{{ 'form.zipCode.error' | translate }}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1rem" fxLayoutGap.lt-sm="0">
    <mat-form-field (click)="pickerFooter.open()">
      <mat-label>{{ 'form.signature.date.label' | translate }}</mat-label>
      <input [formControl]="creationDate" matInput [matDatepicker]="pickerFooter" type="text" required>
      <mat-datepicker-toggle matSuffix [for]="pickerFooter"></mat-datepicker-toggle>
      <mat-datepicker #pickerFooter color="primary"></mat-datepicker>
      <mat-error *ngIf="creationDate.invalid">{{ 'form.signature.date.error' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field (click)="timePickerFooter.open()">
      <mat-label>{{ 'form.signature.time.label' | translate }}</mat-label>
      <input [formControl]="creationTime" matInput atp-time-picker locale='fr' required>
      <mat-datepicker-toggle matSuffix [for]="timePickerFooter">
        <mat-icon matDatepickerToggleIcon>schedule</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #timePickerFooter color="primary"></mat-datepicker>
      <mat-error *ngIf="creationTime.invalid">{{ 'form.signature.time.error' | translate }}</mat-error>
    </mat-form-field>
  </div>

  <p class="justify" style="margin-top: 1rem" [innerHTML]="'form.certify' | translate"></p>

  <mat-radio-group [formControl]="reason">
    <div class="radio-container justify" *ngFor="let purpose of purposes">
      <mat-radio-button [value]="purpose.value">
        <span [innerHTML]="purpose.translateKey | translate"></span>
        <mat-error *ngIf="reason.invalid && submitted$ | async">{{ 'form.purposes.error' | translate }}</mat-error>
      </mat-radio-button>
    </div>
  </mat-radio-group>

  <div class="form-footer">
    <mat-form-field>
      <mat-label>{{ 'form.signature.place.label' | translate }}</mat-label>
      <input [formControl]="creationLocation" matInput type="text" required>
      <mat-error *ngIf="creationLocation.invalid">{{ 'form.signature.place.error' | translate }}</mat-error>
    </mat-form-field>

    <div class="signature-form-field">
      <div>{{ 'form.signature.label' | translate }}</div>
      <canvas class="signature" #signature></canvas>
      <mat-error *ngIf="signatureControl.invalid && submitted$ | async">{{ 'form.signature.error' | translate }}</mat-error>

      <div>
        <button mat-raised-button color="accent" (click)="clearSignature($event);">{{ 'form.signature.clear' | translate }}</button>
      </div>
    </div>
  </div>
</form>

<div class="footer">
  <button mat-raised-button color="primary" type="submit" (click)="submit()">
    <span style="display: flex; align-items: center;">
      <span style="margin-right: 1rem">{{ 'form.generate' | translate }}</span>
      <mat-spinner diameter="24" color="accent" *ngIf="loading$ | async"></mat-spinner>
      <mat-icon *ngIf="(loading$ | async) === false">picture_as_pdf</mat-icon>
    </span>
  </button>

  <div class="indices">
    <div [innerHTML]="'indices.1' | translate"></div>
    <div [innerHTML]="'indices.2' | translate"></div>
    <div [innerHTML]="'indices.3' | translate"></div>
  </div>
</div>
