:host {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 3vh 3vw;
  margin: 2.5vh 2.5vw;
  max-width: 900px;

  .header {
    margin-bottom: 2rem;

    h2 {
      text-align: center;
      margin-bottom: 0;
    }

    h4 {
      text-align: center;
    }
  }

  form {
    mat-form-field {
      display: block;
      width: 100%;
    }

    mat-radio-group {
      mat-radio-button {
        text-align: justify;
      }

      .radio-container  + .radio-container  {
        margin-top: 0.75rem;
      }
    }

    .form-footer {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      .signature-form-field {
        flex: 1;
        margin-left: 1rem;
        text-align: center;

        .signature {
          margin: 0 auto;
          border: 1px solid black;
          height: 300px;
          width: 400px;
        }
      }
    }
  }

  .footer {
    margin-top: 1rem;
    text-align: center;

    .indices {
      margin-top: 1rem;
      text-align: left;
      font-size: 0.8rem;
    }
  }
}

.justify {
  text-align: justify;
}
