@import '~@angular/material/_theming.scss';
@include mat-core();

html, body {
  height: 100%;
}

body {
  background: #42a5f5;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  align-items: center;
}

.mat-radio-label {
  white-space: normal !important;
}
